<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inventory Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">  
	
</head>
<body>

	<div class="container my-2"> 
	<h1>Inventory Items</h1>
	
	<a th:href = "@{/ShowNewInventoryForm}" class="btn btn-primary btn-sm mb-3"> Add Inventory </a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
							Inventory Product Name
					</th>
					<th>
							Inventory Price
					</th>
					<th>
							Inventory Margin Price
					</th>
					<th>
							Inventory Type
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="inventory : ${Inventory}">
					<td th:text="${inventory.productname}"></td>
					<td th:text="${inventory.price}"></td>
					<td th:text="${inventory.marginprice}"></td>
					<td th:text="${inventory.type}"></td>
					<td> <a th:href="@{/showFormForUpdate/{id}(id=${inventory.id})}"  class="btn btn-primary"> Update </a>
					    <a th:href="@{/deleteInventory/{id}(id=${inventory.id})}"  class="btn btn-danger"> Delete </a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		
</body>
</html>